.generator-container{
    width: 50%;
    margin: 0px auto;
}

.generator-card{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
    background-color: #d9534f;
    height: 70px;
    padding-top: 7px;
}

.logo{
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    margin-left: 25%;
    font-family: 'Montserrat', sans-serif;
}

.logo:hover{
    text-decoration: none;
    color: white;
}

.back-ground{
    background-color: #eaeaee;
    height: 100vh;
}

.button{
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
    border-radius: 3px;
    font-size: 19px;
    height: 35px;
    margin-left: 10px;
}

.input{
    height: 35px;
    margin-right: 1px;
    font-size: 19px;
}

.meme{
    margin-top: 40px;
}
